 @media screen and (max-width:900px) {
     /* body {
         background-color: aquamarine;
     } */

     nav {
         flex-direction: column;
     }
     .slider{
        height:50vh ;
     }

     .logo {
         
         justify-content: center;
         margin: 12px
     }
    nav ul{
        justify-content: center;
     }
     .search{
        justify-content: center;
        margin: 16px 0;
     }

 }